<div class="row">
  <div class="container">
    <div class="row">
      <div class="span6 offset3">
        <%= image_tag "ladyville.png", {alt:"ladyville"} %><hr/>
      </div>
      <div class="span6 offset2">
      <%= form_for(:session, url: jasgbiyfdasbfkkjasgbiasou_path, :html=>{:style=>"margin-left:200px;"}) do |f|%>
        
        <div class="control-group">
          <div class="controls">
            <%= f.text_field :login, placeholder:"Логин" %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.password_field :password, placeholder:"Пароль" %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
           <%= f.submit "Войти", class: "btn", style:"margin-left:70px;"%>
         </div>
       </div>

       <% end %>
     </div>
     <% flash.each do |name, msg| %>
       <%= content_tag :div, msg, :id => "flash#{name}" %>
     <% end %>
   </div>
 </div>
</div>